<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

		<title>List</title>
	</head>
	<body>
		<ul class="list-group container py-3">
			<!-- <li class="list-group-item d-flex gap-3 py-3">Test</li>
				<li class="list-group-item d-flex gap-3 py-3">Test2</li>
				<li class="list-group-item d-flex gap-3 py-3">Test3</li> -->
				{% for item in items %}
				<li class="list-group-item d-flex gap-3 py-3">{{item[0]}}{% if item[1] %} ({{item[1]}}){% endif %}</li>
				{% endfor %}
		</ul>
	</body>
</html>
